body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
button {
    height:50px;
    width:180px;
    border:0;
    background-color: rgb(128, 193, 128);
    border-radius: 20px;
    font-size: 1.3rem;
}
h2 {
    text-align: center;
    color:rgb(140, 218, 140);
    font-size: 2rem;
}
h1 {
    color:rgba(17, 54, 17, 0.405);
}
ul {
    font-size: 1.5em;
    font-family: roboto;
}
img {
    position: static;
}